@use "../global/style/";

.playlist-container {
    margin: auto 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width:481px) {
        margin: auto 18px;
    }
}