@use "../global/style" as global;

// size & position
.modal {
    z-index: 1;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    // mobile
    width: 100vw;
    height: 97vh;
    padding-bottom: 2vh!important;
    bottom: -97vh;

    // tablet & desktop
    @media screen and (min-width: 450px) {
        width: 90vw;
        height: 90vh;
        bottom: -90vh;
    }
}

// style
.modal {
    background-color: global.$spotify-white;
    box-shadow: global.$box-shadow-large;
}

// animation
[class^='modal'][class$='active'] {
    transition: bottom 0.3s ease-in-out;
    & ~ .scroll-wrapper {
        transition: filter 0.15s ease-out;
        transition-delay: 0.15s;
    }
}
.modal {
    // mobile
    &-enter {
        bottom: -97vh;
        & ~ .scroll-wrapper {
            filter: blur(0px);
            overflow: hidden;
        }
    }
    &-enter-active,
    &-enter-done {
        bottom: -2vh;
        & ~ .scroll-wrapper {
            filter: blur(4px);
            overflow: hidden;
        }
    }
    &-exit {
        bottom: -2vh;
        & ~ .scroll-wrapper {
            filter: blur(4px);
            overflow: hidden;
        }
    }
    &-exit-active,
    &-exit-done {
        bottom: -97vh;
    }
    &-exit-active ~ .scroll-wrapper {
        filter: blur(0px);
        overflow: hidden;
    }

    // tablet & desktop
    @media screen and (min-width: 450px) {
        &-enter {
            bottom: -90vh;
        }
        &-enter-active,
        &-enter-done {
            bottom: 5vh;
        }
        &-exit {
            bottom: 5vh;
        }
        &-exit-active,
        &-exit-done {
            bottom: -90vh;
        }
    }
}


// ------------------- //
//       Content       //
// ------------------- //

.modal {
    padding: 2% 3% 0 3%;
    padding-bottom: 0;
}

#playlist-header {
    $size: 136px;

    height: $size;

    .cover {
        height: $size;
        width: $size;
        float: left;

        margin-right: 12px;
    }

    >div:not(.cover) {
        margin: 0 12px;

        h3 {
            font-size: 2.3em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#playlist-actions {
    display: flex;
}

#tracks-container {
    clear: left;
    margin: 18px 5% 0;

    .headers {
    }

    >* {
        display: grid;
        grid-template-columns: [title] 3fr [artist] 2fr [album] 2fr;
    }
}