@use "./global" as global;

#playlist-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .button:nth-child(n+2) {
        margin-left: 14px;
    }
    overflow: visible;
    // overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

#playlist-header {
    margin: 16px 0 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .cover {
        @include global.responsive-size((height, width, min-width), 550px, 150px, 750px, 180px);
        margin: 0 auto 12px;
        min-width: 150px;
    }

    h4 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        line-height: 1.2em;
        @include global.responsive-size(font-size, 550px, 34px, 750px, 56px);
        max-height: 201px;
    }


    /*** desktop ***/
    @media screen and (min-width: 450px) {
        flex-direction: row;

        .cover {
            margin: 0;
        }

        h4 {
            align-self: flex-end;
            text-align: left;
            margin-left: 20px;
            overflow: hidden;
        }
    }

}

#track-list {
    max-width: 1200px;
    margin: 0 auto;
    .track:nth-child(n+2) {
        margin-top: 8px;
    }
}