@use "sass:color";

$height: 84px;
$loading-color: #e4e4e4;

.playlist {
    display: flex;
    align-items: center;

    height: $height;
    background-color: #fff;
    border-radius: 9px;
    overflow: hidden;

    .cover {
        height: $height;
        width: $height;
        img {
            height: 100%;
            width: auto;
        }
    }

    $text-height: 44px;
    p {
        margin: 0 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 34px;
        line-height: $text-height;
    }

    &.loading .cover,
    .cover.empty {
        $padding: 16px;
        height: $height - (2 * $padding);
        width: $height - (2 * $padding);
        padding: $padding;
    }

    &.loading {
        .cover {
            background-color: color.adjust($loading-color, $blackness: 20%);
        }
        img {
            filter: invert(100%);
            opacity: 0.25;
        }
        p:empty {
            display: inline-block;
            background-color: $loading-color;
            padding-top: #{$text-height / 2};
            padding-bottom: #{$text-height / 2};
        }
    }

    .cover.empty {
        background-color: #257457;
    }
}