.track {
    display: grid;
    grid-template-columns: [icon1] 32px [name] 4fr [album] 3fr [artist] 3fr [icon2] 32px;
    justify-items: left;
    align-items: center;
    border-bottom: 1px solid rgba(119, 136, 153, 0.2);
}
p {
    font-family:  'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    &.name { grid-column-start: name; }
    &.album { grid-column-start: album; }
    &.artist { grid-column-start: artist; }
}