@use "../global/style" as global;

.playlist-container {
    margin: 0 18px;
    @media screen and (min-width: 750px) {
        margin: 0 66px;
    }
    @media screen and (min-width: 1350px) {
        margin: 0 auto;
        max-width: 92vw;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 100vh;
    overflow-y: auto;
}