@use "../global/style" as global;

$ratio: 4;
$small: 128px;
$large: 168px;

@mixin responsive-design($size) {
    width: $size;
    margin: ($size * .035) ($size * .1);

    font-size: $size / ($small / 18px);

    .cover {
        height: $size;
        width: $size;

        &.empty img {
            $padding: 14; //percent
            height: #{$size * (.01*(100-(2*$padding)))};
            width: #{$size * (.01*(100-(2*$padding)))};
            padding: #{$padding+"%"}
        }
    }
};

.playlist {
    @include responsive-design($small);

    @media (min-width:$small * $ratio) {
        @include responsive-design(100vw / $ratio)
    }

    @media (min-width:$large * $ratio) {
        @include responsive-design($large);
    }
}


.playlist {
    .cover {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        box-shadow: global.$box-shadow;

        border-radius: 12px;
        overflow: hidden;

        &.empty {
            background-color: global.$spotify-dark-green
        }
    }
    p {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        margin: 0.5em auto;
        text-align: center;
    
        max-height: 2.75em;
        overflow: hidden;
    }
}