// -------------------- //
//         Font         //
// -------------------- //

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500,700&family=Rubik:wght@300;350;400&display=swap');
/*  font-family:  'Rubik', sans-serif;
    weights:  300, 400

    font-family:  'Quicksand', sans-serif;
    weights:  400, 500, 700
*/

// body {
//     background-color:  #073141;
// }